<md-content id="lender-dashboard" layout="column">
	<!-- <div class="dashboard-header">Arth
		<div class="create-button">
			<md-button class="mdbutton" ui-sref="dashboard">Dashboard</md-button>
			<md-button class="mdbutton">Profile</md-button>
		</div>
	</div> -->

	<div layout="row" flex layout-margin layout-padding layout-align="center center">
		<div flex="80" flex-sm="100" flex-xs="100">
			<div layout="row" layout-sm="column" layout-xs="column" layout-margin layout-padding>
		
				<md-card flex>
					<md-card-title-text>
						<span class="md-headline">Payout to AU</span>
					</md-card-title-text>
					<md-card-content>
						<div layout="column" layout-fill>
							<p layout="row">
								You have lend AU a sum of Rs. 500000
								<!-- <span flex="40">Total Payment</span>
								<span flex="60"><strong>500000</strong></span> -->
							</p>
							<p layout="row">
								AU will pay you 650000 at an interest rate of 2%/month
								<!-- <span flex="40">Expected Return</span>
								<span flex="60"><strong>5000000</strong></span> -->
							</p>
							<p layout="row">
								The total pay back from AU is expected on 26th November 2016
								<!-- <span flex="40">Return Till Date</span>
								<span flex="60"><strong>5000000</strong></span> -->
							</p>
						</div>
					</md-card-content>
						
					<md-card-actions layout="row" layout-align="start center">
						<md-button class="md-primary" ui-sref="app.lender.au.au-active">View Details</md-button>
					</md-card-actions>
				</md-card>

				<md-card flex>
					<md-card-title-text>
						<span class="md-headline">Payout to Groups</span>
					</md-card-title-text>
					<md-card-content>
						<div layout="column" layout-fill>
							<p layout="row">
								You have lend various group a sum of Rs. 500000
								<!-- <span flex="40">Total Payment</span>
								<span flex="60"><strong>500000</strong></span> -->
							</p>
							<p layout="row">
								Group will pay you 650000 at an interest rate of 2%/month
								<!-- <span flex="40">Expected Return</span>
								<span flex="60"><strong>5000000</strong></span> -->
							</p>
							<p layout="row">
								The total pay back from Group is expected on 26th November 2016
								<!-- <span flex="40">Return Till Date</span>
								<span flex="60"><strong>5000000</strong></span> -->
							</p>
						</div>
					</md-card-content>
						
					<md-card-actions layout="row" layout-align="start center">
						<md-button ui-sref="app.lender.groups" class="md-primary">
							View Details
						</md-button>
					</md-card-actions>
				</md-card>

			</div>
		</div>
		
	</div>

	<!-- <div layout="row" layout-margin layout-padding flex>
		<md-card flex>
			<h2>Testimonials</h2>
		</md-card>
	</div> -->
</md-content>