<div id="offerings" layout="column">
	<!-- <div class="quote-section">
		<div layout="row" layout-align="center center" layout-fill layout-padding>
			<div flex="35" flex-sm="100" flex-xs="100" layout="column" layout-align="center center">
				<p>
					At Arth Impact, we cater to each and every micro customer who can genuinely benefit from financial aid
				</p>

				<p>
					Our powerfull offerings not only fill the gaps left by the banking system but also cater to consumers where traditional MFI model faces challenges
				</p>

				<h2>How we approach this</h2>

				<ul class="ml-50">
					<li>Service micro-customers-in entirely</li>
					<li>Bespoke financial solutions for each 3 segments</li>
					<li>Simple process, powerfull impact</li>
				</ul>
			</div>
		</div>
	</div> -->

	<!-- <div class="approach-section">
		<div layout="row" layout-sm="column" layout-xs="column">
			<div flex>
				<img src="assets/images/image4.jpg"/>
			</div>
			<div flex>
				<div layout="column" layout-margin layout-padding>
					<h3>How we approach this</h3>

					<ul class="ml-50">
						<li>Service micro-customers-in entirely</li>
						<li>Bespoke financial solutions for each 3 segments</li>
						<li>Simple process, powerfull impact</li>
					</ul>
				</div>
			</div>
		</div>
	</div> -->

	<div class="offerings-section products-section">
		<div layout="column" layout-align="center center">
			<h3 class="section-heading">OUR PRODUCTS AND OFFERINGS</h3>
			<div layout="row" layout-align="center center" layout-padding layout-margin layout-fill>
				<div flex="70" flex-sm="100" flex-xs="100" layout="column">
					<div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-margin layout-padding>
						<div flex class="product" flex-order-sm="2" flex-order-xs="2">
							<h4 class="product-tagline">
								DISCOVER THE POSSIBILITIES
							</h4>
							<h3 class="product-title">
								Arth Jivika
							</h3>
							<div class="product-description">
								Shared liability plan for group's social & economic upliftment
							</div>
							<md-button class="md-primary round-button dark-border" ui-sref="app.product.arth_jivika" >
								Read More
							</md-button>
						</div>
						<div flex layout="row" layout-align="center center" flex-order-sm="1" flex-order-xs="1">
							<img src="assets/images/arth-jiva-icon.jpg">
						</div>
					</div>

					<div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-margin layout-padding>
						<div flex class="product" flex-order-sm="2" flex-order-xs="2">
							<h4 class="product-tagline">
								UNIQUE CREDIT TOOL FOR WEALTH CREATION
							</h4>
							<h3 class="product-title">
								Arth Sanchay
							</h3>
							<div class="product-description">
								A unique Credit-Cum-Wealth Creation Plan that helps micro customers balance their cash flows & inculate financial discpline. It has dual advantage of getting credit for meeting daily expenses and at the same time accumulate fund for future.
							</div>
							<!-- <md-button class="md-primary round-button dark-border" ng-click="offerings.openProductDialog($event,'arth_sanchay')">
								Read More
							</md-button> -->
							<md-button class="md-primary round-button dark-border" ui-sref="app.product.arth_sanchay">
								Read More
							</md-button>
						</div>
						<div flex layout="row"  layout-align="center center" flex-order-sm="1" flex-order-xs="1">
							<img src="assets/images/arth-sanchay-icon.jpg">
						</div>
					</div>

					<div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-margin layout-padding>
						<div flex class="product" flex-order-sm="2" flex-order-xs="2">
							<h4 class="product-tagline">
								BRIDGING THE GAP BETWEEN YOUR DREAMS & REALITY!
							</h4>
							<h3 class="product-title">
								Good Money
							</h3>
							<div class="product-description">
								<!-- A unique Credit-Cum-Wealth Creation Plan that helps micro customers balance their cash flows & inculate financial discpline. It has dual advantage of getting credit for meeting daily expenses and at the same time accumulate fund for future. -->
								Digital lending for impact investors</br>
								<h5 class="product-tagline">Coming Soon</h5>
							</div>
							<!-- <md-button class="md-primary round-button dark-border" ng-click="offerings.gotoDashboard()">
								Start Investing
							</md-button> -->
						</div>
						<div flex layout="row" layout-align="center center" flex-order-sm="1" flex-order-xs="1">
							<img src="assets/images/marketplace-icon.jpg">
						</div>
					</div>

					<div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-margin layout-padding>
						<div flex class="product" flex-order-sm="2" flex-order-xs="2">
						<h4 class="section-heading">Working for a world free of poverty</h4>
							<h3 class="product-title">
								Friends of Society
							</h3>
							<div class="product-description">
								Made a positive impact on society by empowering micro and unbanked consumer with direct financial lending at low interest rate
							</div>
							<md-button class="md-primary round-button dark-border" ui-sref="app.product.friend_of_society">
								Read More
							</md-button>
						</div>
						<div flex layout="row" layout-align="center center" flex-order-sm="1" flex-order-xs="1">
							<img src="assets/images/friends_of_society.jpg">
						</div>
					</div>

					<!-- <md-button class="md-primary" ui-sref="app.product.friend_of_society">
						Friend of Society
					</md-button> -->
				</div>
			</div>
		</div>
	</div>
	<ng-include src="'tpls/partials/footer.html'"></ng-include>
	<script type="text/javascript">
		$(window).scroll(function(){
			$('.toolbar-header').removeClass('no-bg');
			$('.white').addClass('hidden');
		});
	</script>
</div>
<!-- <div id="products" layout="column"> -->
	<!-- <div class="quote-section" layout="row">
		<div layout="row" layout-align="center center" layout-fill layout-padding>
			<div flex="35" flex-sm="100" flex-xs="100" layout="column" layout-align="center center" layout-fill layout-align="center center">
				<h1>Products</h1>
			</div>
		</div>
	</div> -->

	<!-- <div class="offerings-section">
		<div layout="column" layout-align="center center">
			<h3>Our Products</h3>
			<div layout="row" layout-align="center center" layout-padding layout-margin layout-fill>
				<div flex="70" flex-sm="100" flex-xs="100" layout="column">
					<div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-margin layout-padding ng-click="offerings.openProductDialog($event,'arth_jivika')" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false" ng-class="{'md-whiteframe-3dp':hovering}">
						<div flex class="product" flex-order-sm="2" flex-order-xs="2">
							<h3 class="product-title">
								Arth Jivika
							</h3>
							<div class="product-description">
								Shared liability plan for group's social & economic upliftment
							</div> -->
							<!-- <md-button class="md-primary" ui-sref="app.product.arth_jivika">
								Read More
							</md-button> -->
						<!-- </div>
						<div flex layout="row" layout-align="center center" flex-order-sm="1" flex-order-xs="1">
							<img src="assets/images/arth-jiva-icon.jpg">
						</div>
					</div>

					<div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-margin layout-padding ng-click="offerings.openProductDialog($event,'arth_sanchay')" ng-mouseenter="hovering1=true" ng-mouseleave="hovering1=false" ng-class="{'md-whiteframe-3dp':hovering1}">
						<div flex class="product" flex-order-sm="2" flex-order-xs="2">
							<h3 class="product-title">
								Arth Sanchay
							</h3>
							<div class="product-description">
								A unique Credit-Cum-Wealth Creation Plan that helps micro customers balance their cash flows & inculate financial discpline. It has dual advantage of getting credit for meeting daily expenses and at the same time accumulate fund for future.
							</div> -->
							<!-- <md-button class="md-primary" ui-sref="app.product.arth_sanchay">
								Read More
							</md-button> -->
						<!-- </div>
						<div flex layout="row"  layout-align="center center" flex-order-sm="1" flex-order-xs="1">
							<img src="assets/images/arth-sanchay-icon.jpg">
						</div>
					</div>

					<div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-margin layout-padding>
						<div flex class="product" flex-order-sm="2" flex-order-xs="2">
							<h3 class="product-title">
								Good Money
							</h3>
							<div class="product-description">
								Digital lending for impact investors
							</div>
							<md-button class="md-primary" ng-click="offerings.gotoDashboard()">
								Start Investing
							</md-button>
						</div>
						<div flex layout="row" layout-align="center center" flex-order-sm="1" flex-order-xs="1">
							<img src="assets/images/marketplace-icon.jpg">
						</div>
					</div>

					<md-button class="md-primary" ui-sref="app.product.friend_of_society">
						Friend of Society
					</md-button>
				</div>
			</div>
		</div>
	</div>
	<ng-include src="'tpls/partials/footer.html'"></ng-include>
	<script type="text/javascript">
		$(window).scroll(function(){
			$('.toolbar-header').removeClass('no-bg');
			$('.white').addClass('hidden');
		});
	</script>
</div>
 -->
<!-- <div id="offerings" layout="column">
	<!-- <div class="quote-section">
		<div layout="row" layout-align="center center" layout-fill layout-padding>
			<div flex="35" flex-sm="100" flex-xs="100" layout="column" layout-align="center center" layout-fill layout-align="center center">
				<p>
					At Arth Impact, we cater to each and every micro customer who can genuinely benefit from financial aid
				</p>

				<p>
					Our powerfull offerings not only fill the gaps left by the banking system but also cater to consumers where traditional MFI model faces challenges
				</p>
			</div>
		</div>
	</div> -->

	<!--<div class="approach-section" layout="row" layout-align="center center">
		<div flex="80" flex-sm="100" flex-xs="100" layout-margin layout-padding  layout="column" layout-align="center center">
			<h3 class="approach-head">Our Working Concept - Challenge(r) Banking</h3>
			
			<div layout="row">
				<img src="assets/images/offering.png">
			</div>

			<div class="approach-content">
				<p>Commonly prevailing products beneﬁt only a certain set of consumers within the micro segment <strong>Our Approach</strong> </p>
				<ul>
					<li>Service micro-customers-in entirely</li>
					<li>Bespoke financial solutions for each 3 segments</li>
					<li>Simple process, powerfull impact</li>
				</ul>
			</div>

			<div layout="row" md-margin>
				<md-button class="md-primary" ui-sref="app.product.friend_of_society">
					Friend of Society
				</md-button>
				
				<md-button class="md-primary">
					Arth Jivika
				</md-button>

				<md-button class="md-primary">
					Arth Sanchay
				</md-button>

				<md-button class="md-primary">
					GoodMoney
				</md-button>
			</div>
			<!-- <md-button class="md-primary ph-30 font-size-24" ng-click="offerings.knowMore($event)">Know more</md-button> -->
		<!--</div>
	</div>
	<ng-include src="'tpls/partials/footer.html'"></ng-include>
<script type="text/javascript">
	$(window).scroll(function(){
		$('.toolbar-header').removeClass('no-bg');
		$('.white').addClass('hidden');
	});
</script>
</div>