#header{
	height: 105px !important;
	position: fixed;
	background-color: #fff;
	-webkit-box-shadow:0px 1px 1px rgba(0,0,0,.14);
	-moz-box-shadow:0px 1px 1px rgba(0,0,0,.14);
	box-shadow:0px 1px 1px rgba(0,0,0,.14);
	.logo{
		/*margin-top: 30px;*/
		height: 100%;
		cursor: pointer;

		&.large-logo{
			/*width: 80px !important;
			height: 130px !important;
			margin-top: 60px !important;*/
			display: none;
		}
		&.small-logo{
			display: inline;
			height: 95px;
		}
	}

	&.no-bg{
		background-color: transparent !important;
		box-shadow:none;

		.logo{
			&.large-logo{
				width: 80px !important;
				height: 130px !important;
				margin-top: 60px !important;
				display: inline !important;
			}

			&.small-logo{
				display: none;
			}
		}
		.md-button{
				color : #fff !important;
		}
	}
	.md-button{
		/*text-transform: capitalize !important;*/
		color: #000 !important;
	}

	.social-media{
		i{
			cursor: pointer;
			&.fb{
				&:hover{
					color: $fb;
				}
			}
			&.linked-in{
				&:hover{
					color: $linkedin;
				}
			}
			&.twitter{
				&:hover{
					color: $twitter;
				}
			}
		}
	}
}