<div id="footer" layout="row" layout-align="center start" flex>
	<div flex="70" flex-sm="100" flex-xs="100">
		<div layout="row" layout-sm="column" layout-xs="column" flex>
			<!-- <div flex="40" layout="column" layout-align="start start" style="position: relative;">
				<h4>Our News Letter</h4>
				<div class="news-letter">
					<input type="text" name="" ng-model="email" placeholder="YOUR EMAIL ADDRESS" style="">
					<md-button class="round-button dark">Submit</md-button> 
				</div>
			</div> -->
			<div flex layout="column" layout-align="start start">
				<h4>Connect</h4>
				<span layout="row" layout-align="start start" layout-margin flex class="social-media">
					<!-- <i class="fa fa-facebook fb" aria-hidden="true"></i>
					<i class="fa fa-linkedin linked-in" aria-hidden="true"></i>
					<i class="fa fa-twitter twitter" aria-hidden="true"></i> -->
					<md-button class="md-icon-button md-accent" aria-label="Settings" href="https://www.facebook.com/arthimpact/">
						<i class="fa fa-facebook"></i>
					</md-button>
					<md-button class="md-icon-button  md-accent" aria-label="Settings" href="https://twitter.com/arthimpact">
						<i class="fa fa-twitter"></i>
					</md-button>
					<md-button class="md-icon-button md-accent" aria-label="Settings" href="https://www.linkedin.com/company/arthimpact">
						<i class="fa fa-linkedin"></i>
					</md-button>
				</span>
			</div>
			<!-- <div flex layout="column" layout-align="start start">
				<h4>About Us</h4>
				<span>Our Mission</span>
				<span>Our Team</span>
				<span>Press</span>
			</div>
			<div flex layout="column" layout-align="start start">
				<h4>Contact</h4>
				<span>022-22322322</span>
				<span>
					Address Stree, <br/>
					City, Country, <br/>
					Area Code
				</span>
			</div> -->
		</div>
	</div>
</div>