<md-button class="md-icon-button md-primary mt-20" aria-label="Settings" ui-sref="app.offerings">
	<md-tooltip>
		Back To Offerings
	</md-tooltip>
	<i class="fa fa-arrow-left" aria-hidden="true"></i>
</md-button>
<div class="product" layout="column">
	<div layout="row" layout-align="center center">
		<div flex="70" flex-sm="100" flex-xs="100" layout="column">
			<div layout="row" layout-sm="column" layout-xs="column" layout-align="center center" layout-margin layout-padding>
				<div flex class="product" flex-order-sm="2" flex-order-xs="2">
					<h4 class="product-tagline">
						UNIQUE CREDIT TOOL FOR WEALTH CREATION
					</h4>
					<h3 class="product-title">
						Arth Sanchay
					</h3>
					<div class="product-description">
						A unique Credit-Cum-Wealth Creation Plan that helps micro customers balance their cash flows & inculate financial discpline. It has dual advantage of getting credit for meeting daily expenses and at the same time accumulate fund for future.
					</div>
				</div>
				<div flex layout="row" layout-align="center center" flex-order-sm="1" flex-order-xs="1">
					<img src="assets/images/arth-jiva-icon.jpg">
				</div>
			</div>

			<div layout="row" layout-sm="column" layout-xs="column" layout-margin layout-padding>
				<div flex="50" flex-sm="100" flex-xs="100">
					<img src="assets/images/ArthSanchayImage.jpg">
				</div>
				<div flex="50" flex-sm="100" flex-xs="100" layout="column">
					<h4 class="product-tagline">
						Unique Credit tool for wealth creation
					</h4>
					<div class="product-description mt-0">
						A unique Credit-Cum-Wealth Creation Plan that helps micro customers balance their cash flows & inculate financial discpline. It has dual advantage of getting credit for meeting daily expenses and at the same time accumulate fund for future.
					</div>

					<h4 class="product-tagline mt-30">
						Unique Credit tool for wealth creation
					</h4>
					<div class="product-description mt-0">
						A unique Credit-Cum-Wealth Creation Plan that helps micro customers balance their cash flows & inculate financial discpline. It has dual advantage of getting credit for meeting daily expenses and at the same time accumulate fund for future.
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<!-- <div class="product" layout="column">
	<div layout="row">
		<div layout="row" layout-align="center center" layout-fill layout-padding>
			<div flex="35" flex-sm="100" flex-xs="100" layout="column" layout-align="center center" layout-fill layout-align="center center">
				<h1>Arth Sanchay</h1>
			</div>
		</div>
	</div>

	<div class="product-description" layout="row">
		<div layout="row" layout-align="center center" layout-fill layout-padding flex>
			<div flex layout="column" layout-fill>
				<p>
					A unique Credit-Cum-Wealth Creation Plan that helps micro customers balance their cash ﬂows & inculcate ﬁnancial discipline. It has a dual advantage of getting credit for meeting daily expenses and at the same time accumulate fund for future.
				 </p>
				<div class="text-left">
					<p>BENEFITS:</p>	
				</div>
				<ul class="pl-25">
					<li> Financial Assistance –Advance credit facility to be used to boost or grow business, meet personal or family requirements </li>
					<li> Future Fund –Accumulate Fund with each repayment. Long term beneﬁt of collected amount. </li>
					<li> Flexible Repayment –Freedom and convenience of repayment. No extra burden on late payment </li>
					<li>
						Minimum Paper Work – Simple hassle free application process. No collateral security. 
					</li>
					<li>
						Electronic Disbursement-Delivered instantly on mobile
					</li>
				</ul>
				<p>The product is in Beta stage</p>
				<div class="text-left">
					<md-button class="md-primary" ui-sref="app.dashboard">
						Start Investing
					</md-button>
				</div>
			</div>
		</div>
		<div flex>
			<img src="assets/images/ArthSanchayImage.jpg">
		</div>
	</div>
</div> -->