<md-content layout="column">
	<div layout="row" layout-margin>
		<h1>Arth</h1>
		<span flex></span>
		<md-button class="mdbutton">Create new user</md-button>
		<md-button class="mdbutton">Profile</md-button>
	</div>

	<div layout="column" layout-margin>
		<md-list flex>
			<md-list-item>
				<div layout="row" layout-xs="column" layout-sm="column" flex layout-align="center center">
					<span flex="25">
						<Strong>Loan Id</Strong>
					</span>
					<span flex="25">
						<Strong>Name</Strong>
					</span>
					<span flex="25">
						<strong>Payment</strong>
					</span>
					<span flex="25">
						<strong>Status</strong>
					</span>
				</div>
				<md-divider></md-divider>
			</md-list-item>
		</md-list>
</md-content>