.progress-green{
	.md-container {
		height : 10px;
		background-color: #C8E6C9 !important;
		height : 10px;		
	}
	.md-bar,.md-bar2 {
		height : 10px !important;
		background-color: #4CAF50 !important;
	}
}

.progress-blue{
	.md-container {
		height : 10px;
		background-color: rgb(179,229,252) !important;
	}
	.md-bar,.md-bar2 {
		height : 10px !important;
		background-color: rgb(3,155,229) !important;
	}

}

.progress-orange{
	.md-container {
		height : 10px;
		background-color: #FFE0B2 !important;
	}
	.md-bar,.md-bar2 {
		height : 10px !important;
		background-color: #FF9800 !important;
	}	
}

.progress-red{
	.md-container {
		height : 10px;
		background-color: #FFCDD2 !important;
	}
	.md-bar,.md-bar2 {
		height : 10px !important;
		background-color: #F44336 !important;
	}	
}