<div>
  <form novalidate name="userForm">
  <md-input-container class="md-block" >
    <input type="tel" only-digits name="amount" ng-model="amount" placeholder="Enter Amount to lend to AU"
         required minlength="1" maxlength="6"  />
         <div ng-messages="userForm.amount.$error">
            <div ng-message="required">Enter amount to pay to AU!</div>
           <div ng-message="minlength">Enter amount greater than 10,000</div>
           <div ng-message="minlength">Enter amount less than 10,00,000</div>
         </div>
  </md-input-container>
  <div class="buttn">
    <md-button class="md-raised" data-ng-click="payToAU(userForm.$valid)">Pay To AU</md-button>
  </div>
</form>
</div>
